@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.links{
  text-decoration: none;
  color:rgb(51, 51, 138);
  font-size: 16px;
  font-weight: 500;
  margin-right:20px ;
}
.main-div{
  background-color:red;
}
.register-div{
  background-color: #fff;
  height:560px;
  width:30%;
  margin:auto;
  padding:50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  z-index:3;
}
.logo_name{
  border-bottom: 3px solid rgb(197, 78, 102);
  color:rgb(19, 85, 85);
}
.login-div{
  height:380px;
  width:40%;
  margin:auto;
  padding:50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.geektext{
  font-size: 50px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  text-shadow: 2px 2px 2px gray;
  color:transparent;
}
h5{
  color:rgb(65, 68, 68);
}
.cards-show{
  display: inline-block;
  margin:10px 70px;
  width:300px;
}
.form-control{
  border-radius: 0px !important;
  padding: 10px !important;
  border-top:none;
  border-right: none;
  border-left:none;
  border-bottom:2px solid gray;
}
.svg{
  position: absolute;
  z-index:2;
  opacity:0.2;
  z-index: 2;
}
.btn-login{
  padding:10px;
  width:300px;
  border-radius: 50px;
  background-color: gray;
  border:none;
  color:#fff;
}
label{
  color:#173383;
  font-weight: bold;
}
.logsign_text{
  color:#173383;
  font-weight: bold;
}
.framer{
  height:100px;
  width:100px;
  background-color:transparent;
  position: absolute;
  border-radius: 50%;
  margin-left: 100px;
  background-color: #173383;
  opacity: 0.3;
}
.framer1{
  height:100px;
  width:100px;
  background-color:transparent;
  position: absolute;
  margin-left: 100px;
  background-color: #173383;
  opacity: 0.3;
}

@media (max-width:768px){
  .register-div{
    width:90%;
  }
  .btn-login{
    width:200px;
  }
  .login-div{
    width:90%;
  }
  .cards-show{
    margin:35px;
  }
  .geektext{
    display: none;
  }
  .titles{
    display: none;
  }
  h5{
    font-size: 16px;
  }
}